www.yourdomain.com:80 {
    root * /usr/src/trojan
    log {
        output file /usr/src/caddy.log
    }
    file_server
}
www.yourdomain.com:443 {
    root * /usr/src/trojan
    log {
        output file /usr/src/caddy.log
    }
    file_server
}